
* {
  box-sizing: border-box;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 600;
  overflow: hidden;
  margin: 0;
  /* background-color: #111; */
  background: url(../img/bg.jpg) no-repeat center top / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 500ms all ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  bottom: 0px;
  margin: 0;
  padding: 15px;
  opacity: 0;
  transition: .3s all ease-in;
  letter-spacing: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 20px 20px;
  width: 100%;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: .3s all ease-in .4s; /* delay - 0.4s */
}

.filter {
  filter: brightness(0.2);
}

.filter:hover {
  filter: none;
}