
* {
  box-sizing: border-box;
  transition: .2s all ease;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

a:hover {
  font-weight: 500;
  color: #1691e3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  width: 100%;
  margin-top: 0px;
  line-height: 1.4;
  font-size: 3.5rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin .5s ease;
  /* background: linear-gradient(90deg, #29323C 0%, #485563 100%); */
  background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614395646_28-p-temnii-neitralnii-fon-32.jpg) no-repeat center top / cover;
}

.screen.up {
  margin-top: -100vh;
}

.score {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  font-weight: 500;
  background-color: transparent;
  border: 3px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 3px solid #1691e3;
  color: #1691e3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.misses {
  margin-top: -25px;
  font-size: 24px;
}

.miss {
  color: #f5610b;
}


.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #1b2735 -4.6%, #213041 200.44%);
  box-shadow: -8px -8px 20px #15212e, 10px 7px 20px #15212e;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}